.container {
	align-items: center;
	background-color: #fff;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	height: 120px;
	justify-content: space-between;
	margin: 8px;
	padding: 10px;
	transition: box-shadow 0.2s ease, opacity 0.2s ease;
	user-select: none;
	width: 100px;

	&:hover {
		background-color: var(--gray-2);
	}
}

.selected {
	background-color: var(--gray-4);

	&:hover {
		background-color: var(--gray-4);
	}
}

.preview {
	align-items: center;
	display: flex;
	height: 80px;
	justify-content: center;
	overflow: hidden;
	width: 100%;
}

.imagePreview {
	border-radius: 4px;
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
}

.icon {
	height: 78px;
	width: 78px;
}

.filename {
	font-size: 0.9rem;
	margin-top: 4px;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}